<html>
<style>
  table,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table th {
    background: #888888;
    color: #ffffff
  }

  .table.sticky th {
    position: sticky;
    top: 0;
  }
</style>

<body>
  <h2> {{ category }} report</h2>

  {{ category }} entries: {{ rows | length }}<br>
  {{ category }} located at: {{ db_path }}<br>
  <br />

  <table class="table sticky">

    <tr>
      {% for header in report_table_columns %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>

    {% for row in rows %}
    <tr>
      {% for row_item in row %}
      <td>{{ row_item }}</td>
      {% endfor %}
    </tr>
    {% endfor %}

  </table>
</body>

</html>